@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,900&display=swap');

body {
    margin-left: auto; 
    margin-right: auto;
    max-width: 800px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family: 'Raleway', sans-serif;
    background-color: #fed330;
    color: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 10px;
}

header h1 {
    padding-left: 70px;
    font-size: 2.3em;
}

footer {
    background-color: #f7b731;
    color: #333333;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border-radius: 10px;
}

#lastupdated {
    color: #333333;
}

img {
    float: right;
    width: 130px;
    height: auto;
    box-shadow: 5px 5px 18px #333333;
    background-color: #fed330;
    padding: 5px;
}

#imagecontainer {
    padding-right: 20px;
    padding-top: 10px;
}

hr {
    margin-top: -15px;
    margin-bottom: -5px;
}

main {
    margin-bottom: 35px;
    font-family: 'Raleway', sans-serif;
    
    color: #333333;
}

footer,
footer a:link,
footer a:visited,
footer a:hover,
footer a:active
{
    color: #333333;
    font-family: 'Raleway', sans-serif;
}

