/*que pasa con el archivo
    Edit:   Sergio Bravo;
    Web: https://www.mucacran.com
*/
@media screen and (max-width: 400px) {
    .temaPrincipal
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 401px) and (max-width: 720px) {
    .temaPrincipal
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 734px)
{
    main, footer, nav div
    {
        margin: 0px 15px;
    }
}