@media only screen and (min-width: 1028px) {

    main,
    footer,
    .nemuNav,
    .nemuNav div{
        margin: 0 auto;
        max-width: 760px;
        background-color: var(--negro);
        box-sizing: border-box;
    }

    .navigation li a
    {
        color: #F6F7F8;
        padding: 30px;
        width: 100%;
    }
    nav
    {
        background-color: #011638 !important; 
    }
} /* end of media query */