h1,h2,h3,h4,h5,h6  
{
    font-family: 'Ultra', serif;
    color: #011638;
}
p
{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: #333333;
}
*
{
	box-sizing: border-box;
	font-family: 'Work Sans';
}

img[data-src] {
	filter: blur(0.2em);
}
img
{
	width: 100%;
	height: auto;

	filter: blur(0em);
	transition: filter 1s;
}


  
/*****************************/
.navigation {
    font-family: 'Work Sans', sans-serif;
	list-style: none;
	text-align: center;
    padding: 0;
    margin-top: 0px;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
	transition: display 1s;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation li:hover,
.navigation a:hover {
	color: #fff;
	background-color:#FF3366;
	font-weight: 600;
	-webkit-transition: background-color 1s; 
  	transition: background-color 1s;
}

.navigation li.activity:hover,
.navigation li.activity a:hover {
	color: #333333;
	background-color:white;
}

.navigation li.activity,
.navigation li.activity > a
{
	background-color: #2EC4B6 !important;
	color: #011638;
}
/*Este hace que la magia del clik se dé, escribio esto para hacer timpo*/
.responsive li {
	display: block;
	box-sizing: border-box;
	transition: display 1s;
}
/******************************************/

div.nenuNav,
nav div ul
{
    background-color: #011638;
}

.logo
{
	width: 50px;
}
.logoTitulo
{
	padding: 20px;
	text-align: center;
	position: relative;
}

.tituloHead,
.sloganHead
{
	margin: 0;
	margin-left: 0px;
}

.accion
{
	position: absolute;
	right: 0;
	top: 0;
	padding: 15px;
	background-color: #FF3366;
	color: white;
	cursor: pointer;
	font-size: 12px;
}
.accion:hover
{
	font-size: 16px;
	transition: font-size 0.5s;
}

#mapa
{
	border:0;
	width: 100%;
	height: 300px;
}

.galeryTemples
{
	grid-template-columns: auto ;
    grid-template-rows: auto;
}

.iconosContactos
{
	width: 18px;
}
.socialMediaImg{
	width: 38px;
}

.contacto
{
	text-align: center;
}

.textocentrado
{
	text-align: center;
}

.contentbox
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}