/*
    Edit:   Sergio Bravo;
    Web: https://www.mucacran.com
*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
*
{
    font-family: raleway;
}

:root
{
    --amarillo: #fed330;
    --amarilloFuerte: #f7b731;
    --grisClaro: #e8e8e8;
    --colorTexto: #333333;
    --negro: #36454f;
}

/* Media Query for medium + screens 992*/


h1,h2,h3,h4,h5,h6
{
    color: var(--negro);
}

header
{
    background-color: var(--grisClaro);
    padding: 50px 0px;
}

nav{
    background-color: var(--negro);
}

main,
footer,
nav.nav div{
	margin: 0 auto;
	max-width: 760px;
    background-color: var(--negro);
    box-sizing: border-box;
}

footer
{
    text-align: center;
    padding: 24px;
    background-color:var(--amarilloFuerte);
    box-sizing: border-box;
}
.navigation {
	list-style: none;
	text-align: center;
    padding: 0;
    margin-top: 0px;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation li:hover,
.navigation a:hover {
	color: var(--colorTexto);
	background-color:var(--amarillo);
	font-weight: 600;
}

.navigation li.activity:hover,
.navigation li.activity a:hover {
	color: var(--colorTexto);
	background-color:white;
	font-weight: none;
}

/*****************************************************/
/*          MI CSS                                   */
/*****************************************************/
.temaPrincipal
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo
{
    width: 5rem;
    height: auto;
    font-size: 5rem;
    margin-right: 20px;
    color: var(--negro);
}
/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}

div.espacio
{
    width: 100%;
    height: 50px;
}

main 
{
    background-color: white;
}

h2.nombrePagina
{
    background: white;
    text-align: center;
}

.contenedores div
{
    margin: 15px auto;
    padding: 15px;

   
    background-color: var(--grisClaro);
    border: 3px solid var(--negro);
    border-style: dotted;
    box-sizing: border-box;
    

}

